<nav class="navbar">

    <!-- =========================
         Logo
    ========================== -->

    <a href="../../pages/home/index.html" class="navbar__logo">

        <div class="logo-icon">
            <i data-lucide="cpu"></i>
        </div>

        <span class="logo-text">
            VisualOS
        </span>

    </a>



    <!-- =========================
         Navigation
    ========================== -->

    <ul class="navbar__nav">

        <li>
            <a href="../../pages/home/index.html" class="nav-link active">
                <i data-lucide="house"></i>
                <span>Home</span>
            </a>
        </li>

        <li>
            <a href="../../pages/cpu-scheduling/index.html" class="nav-link">
                <i data-lucide="microchip"></i>
                <span>CPU</span>
            </a>
        </li>

        <li>
            <a href="../../pages/memory-management/index.html" class="nav-link">
                <i data-lucide="memory-stick"></i>
                <span>Memory</span>
            </a>
        </li>

        <li>
            <a href="../../pages/page-replacement/index.html" class="nav-link">
                <i data-lucide="files"></i>
                <span>Paging</span>
            </a>
        </li>

        <li>
            <a href="../../pages/disk-scheduling/index.html" class="nav-link">
                <i data-lucide="hard-drive"></i>
                <span>Disk</span>
            </a>
        </li>

        <li>
            <a href="../../pages/deadlock/index.html" class="nav-link">
                <i data-lucide="shield-alert"></i>
                <span>Deadlock</span>
            </a>
        </li>

    </ul>



    <!-- =========================
         Right Section
    ========================== -->

    <div class="navbar__actions">

        <button
            class="icon-btn"
            id="search-btn"
            aria-label="Search">

            <i data-lucide="search"></i>

        </button>


        <button
            class="icon-btn"
            id="theme-toggle"
            aria-label="Toggle Theme">

            <i data-lucide="moon"></i>

        </button>


        <a
            href="https://github.com/"
            target="_blank"
            class="github-btn">

            <i data-lucide="github"></i>

            <span>GitHub</span>

        </a>


        <button class="login-btn">

            Login

        </button>

    </div>

</nav>