.container{
    width:min(100% - 2rem,var(--container-width));
    margin-inline:auto;
}

.flex{
    display:flex;
}

.grid{
    display:grid;
}

.center{
    display:flex;
    justify-content:center;
    align-items:center;
}

.text-center{
    text-align:center;
}

.hidden{
    display:none !important;
}

.w-full{
    width:100%;
}

.h-full{
    height:100%;
}